#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}

.inner-container{
  width:400px;
  height:400px;
  position:absolute;
  top:calc(50vh - 200px);
  left:calc(50vw - 200px);
  overflow:hidden;
border-radius: 5px;
}
.inner-container_register{
  width:400px;
  height:500px;
  position:absolute;
  top:calc(50vh - 200px);
  left:calc(50vw - 200px);
  overflow:hidden;
border-radius: 5px;
}
.box checkbox{
 float: left;   
}
.box{
position:absolute;
  height:100%;
  width:100%;
  font-family:Helvetica;
  color:#fff;
background-color:rgba(0,0,255,0.3);
  padding:30px 0px;
}
.box h1{
  text-align:center;
  margin:30px 0;
  font-size:30px;
}


.box input{
  display:block;
  width:300px;
  margin:20px auto;
  padding:15px;
  background:rgba(0,0,0,0.2);
  color:#fff;
  border:0;
}
.box input:focus,.box input:active,.box button:focus,.box button:active{
  outline:none;
}

.input_ext{
    display:float;
}
.box button{
  background:#2ecc71;
  border:0;
  color:#fff;
  padding:10px;
  font-size:20px;
  width:330px;
  margin:20px auto;
  display:block;
  cursor:pointer;
}
.box button:active{
  background:#27ae60;
}
.box p{
  font-size:14px;
  text-align:left;
}
.box p span{
  cursor:pointer;
  color:#666;
}
a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;	
    text-decoration: none;
    display: inline-block;
    position: absolute;
    top: 75%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
font-size:12px;
}

label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

a:hover, a:active {
    background-color: blue;
    position: absolute;
    top: 75%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
font-size:12px;
}


input[type=text] {
padding:15px;   
 border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


input[type=text]:focus {
    border-color:#333;
}


input[type=password] {
padding:15px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=password]:focus {
    border-color:#333;
}
input[type=submit] {
    padding:15px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #000; 
}
